#### This notebook reads ``uk_addresses.csv`` and calls ``api.openalpr.com`` to get car metdata like model, colour, type etc. The output file it creates is a JSON file that then gets ingested into Postgresql Database

In [1]:
#!/usr/bin/python

import requests
import base64
import json
import uuid
#pip3 install Faker
from faker import Faker
import random
import pandas
from geopy.geocoders import Nominatim

def seed_db_creator(IMAGE_PATH):
  SECRET_KEY = 'sk_90c281aebbfc04d52d6c2e86 0KR'
  results= {}
  with open(IMAGE_PATH, 'rb') as image_file:
      img_base64 = base64.b64encode(image_file.read())
  url = 'https://api.openalpr.com/v3/recognize_bytes?recognize_vehicle=1&country=us&secret_key=%s' % (SECRET_KEY)
  r = requests.post(url, data = img_base64)
  data = json.loads( json.dumps(r.json(), indent=2))
  
  ## Uncomment if you want to get input data from json instead of openalpr.com API
  dump_file = open("database_api_response.json")
  data = json.load(dump_file)

 ## Read UK Addresses CSV File
  df = pandas.read_csv("uk_addresses.csv")
  #address_file = open("addresses.json")
  #address_data = json.load(address_file)
  
  for i in data["results"]:
    customer_id = str(uuid.uuid4())
    fake_owner_name = fake.name()
    random_int = random.randint(0,49)

    #print(fake_address_details)
    #fake_lat_long = fake.local_latlng()

    ##### Vehicle Information #####
    results.update({"vehicle_registered_plate_number": i['plate']})
    results.update({"vehicle_color": i["vehicle"]["color"][0]["name"]})
    results.update({"vehicle_make": i["vehicle"]["make"][0]["name"]})
    results.update({"vehicle_body_type": i["vehicle"]["body_type"][0]["name"]})
    results.update({"vehicle_make_model": i["vehicle"]["make_model"][0]["name"]})
    results.update({"vehicle_model_year": i["vehicle"]["year"][0]["name"]})
    results.update({"vehicle_registered_city": df.loc[random_int].at["City"]})
   ###### Owner Information #####
    results.update({"vehicle_owner_name": fake_owner_name})
    results.update({"vehicle_owner_address": df.loc[random_int].at["Address"]})
    results.update({"vehicle_owner_city": df.loc[random_int].at["City"]})
    results.update({"vehicle_owner_zip_code": df.loc[random_int].at["Postcode"]})
    results.update({"vehicle_owner_contact_number": df.loc[random_int].at["Phone number"]})
   ###### Customer Information #####
    results.update({"customer_id": customer_id})
    results.update({"customer_balance": str(random.randint(100,999)) + " GBP"})
    results.update({"customer_name": fake_owner_name})
    results.update({"customer_address": df.loc[random_int].at["Address"]})
    results.update({"customer_city": df.loc[random_int].at["City"]})
    results.update({"customer_zip_code": df.loc[random_int].at["Postcode"]})
    results.update({"customer_contact_number": df.loc[random_int].at["Phone number"]})
    temp = final_results['seed_database']
    temp.append(results)
    with open('database.json', 'w', encoding='utf-8') as f:
      json.dump(temp, f, ensure_ascii=False, indent=4)
    print(temp)  

final_results = {"seed_database": [ ] }
fake = Faker( 'en_GB')
#print(fake.locales)

for i in range(11,12):
  IMAGE_PATH = '/Users/karasing/git/jumpstart-library/pattern2-licence-plates/LPR_Service/dataset/images/'+str(i)+'.png'
  #print(IMAGE_PATH)
  seed_db_creator(IMAGE_PATH)

[{'vehicle_registered_plate_number': 'CHIAN000', 'vehicle_color': 'black', 'vehicle_make': 'toyota', 'vehicle_body_type': 'sedan-wagon', 'vehicle_make_model': 'toyota_land-cruiser', 'vehicle_model_year': '2010-2014', 'vehicle_registered_city': 'London', 'vehicle_owner_name': 'Dr. Ben Ingram', 'vehicle_owner_address': 'Flat 2 184 Portobello Road', 'vehicle_owner_city': 'London', 'vehicle_owner_zip_code': 'W11 2EB', 'vehicle_owner_contact_number': '+44202802 2386', 'customer_id': '16c4980f-6432-457c-baaa-dea137dfdf4a', 'customer_balance': '820 GBP', 'customer_name': 'Dr. Ben Ingram', 'customer_address': 'Flat 2 184 Portobello Road', 'customer_city': 'London', 'customer_zip_code': 'W11 2EB', 'customer_contact_number': '+44202802 2386'}]

### Reading resultant json file and ingesting the data to Postgresql Database

In [3]:
! pip3 install sqlalchemy psycopg2

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.9/site-packages (1.4.9)
Collecting psycopg2
  Using cached psycopg2-2.8.6.tar.gz (383 kB)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/site-packages (from sqlalchemy) (1.0.0)
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.8.6-cp39-cp39-macosx_11_0_x86_64.whl size=136081 sha256=8ede2815a52f1248955b26d91b6d9cc27edee7b58375c78b9b822a79af958c56
  Stored in directory: /Users/karasing/Library/Caches/pip/wheels/a2/07/10/a9a82e72d50feb8d646acde6a88000bbf2ca0f82e41aea438a
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.8.6

In [22]:
from sqlalchemy import create_engine, Column, Integer, String, Sequence
from sqlalchemy.ext.declarative import declarative_base
import json

## Database details and connection
DB_USER = os.getenv('DB_USER', 'dbadmin')
DB_PASSWORD = os.getenv('DB_PASSWORD', 'HT@1202k')
DB_HOST = os.getenv('DB_HOST', '127.0.0.1')
DB_NAME = os.getenv('DB_NAME','pgdb')
TABLE_NAME = os.getenv('TABLE_NAME','vehicle_metadata')

engine = create_engine('postgresql://'+DB_USER+':'+DB_PASSWORD+'@'+DB_HOST+'/'+DB_NAME, connect_args={})
Base = declarative_base()
TABLE_ID = Sequence(TABLE_NAME+'_id_seq', start=1000)

class Create_Table(Base):
    __tablename__ = TABLE_NAME
    id = Column(Integer, TABLE_ID,  primary_key=True, index=True, server_default=TABLE_ID.next_value())
    vehicle_registered_plate_number = Column(String, primary_key=True, index=True, unique=True)
    vehicle_color = Column(String)
    vehicle_make = Column(String)
    vehicle_body_type = Column(String)
    vehicle_make_model = Column(String)
    vehicle_model_year = Column(String)
    vehicle_registered_city = Column(String)
    vehicle_owner_name = Column(String)
    vehicle_owner_address = Column(String)
    vehicle_owner_city = Column(String)
    vehicle_owner_zip_code = Column(String)
    vehicle_owner_contact_number = Column(String)
    customer_id = Column(String)
    customer_balance = Column(String)
    customer_name = Column(String)
    customer_address = Column(String)
    customer_city = Column(String)
    customer_zip_code = Column(String)
    customer_contact_number = Column(String)

## Create Table if does not exists
Create_Table.__table__.create(bind=engine, checkfirst=True)

db_json_file = open("uk_database.json")
data = json.load(db_json_file)
connection = engine.connect()

for count in range(len(data)):
    try:
        connection.execute(f"""INSERT INTO public.{TABLE_NAME}(vehicle_registered_plate_number,vehicle_color,vehicle_make,vehicle_body_type,vehicle_make_model,vehicle_model_year,vehicle_registered_city,vehicle_owner_name,vehicle_owner_address,vehicle_owner_city,vehicle_owner_zip_code,vehicle_owner_contact_number,customer_id,customer_balance,customer_name,customer_address,customer_city,customer_zip_code,customer_contact_number) 
VALUES('{data[count]['vehicle_registered_plate_number']}', '{data[count]['vehicle_color']}', '{data[count]['vehicle_make']}', '{data[count]['vehicle_body_type']}', '{data[count]['vehicle_make_model']}', '{data[count]['vehicle_model_year']}', '{data[count]['vehicle_registered_city']}', '{data[count]['vehicle_owner_name']}', '{data[count]['vehicle_owner_address']}', '{data[count]['vehicle_owner_city']}', '{data[count]['vehicle_owner_zip_code']}', '{data[count]['vehicle_owner_contact_number']}', '{data[count]['customer_id']}', '{data[count]['customer_balance']}', '{data[count]['customer_name']}', '{data[count]['customer_address']}', '{data[count]['customer_city']}', '{data[count]['customer_zip_code']}', '{data[count]['customer_contact_number']}')""")
    except:
        print("====================== Error inserting record to database ======================")
        print(sys.exc_info()[1])
    else:
        print("All Record added to DB successfully")

====================== Error inserting record to database ======================
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "ix_vehicle_metadata_vehicle_registered_plate_number"
DETAIL:  Key (vehicle_registered_plate_number)=(KLOIMA2555) already exists.

[SQL: INSERT INTO public.vehicle_metadata(vehicle_registered_plate_number,vehicle_color,vehicle_make,vehicle_body_type,vehicle_make_model,vehicle_model_year,vehicle_registered_city,vehicle_owner_name,vehicle_owner_address,vehicle_owner_city,vehicle_owner_zip_code,vehicle_owner_contact_number,customer_id,customer_balance,customer_name,customer_address,customer_city,customer_zip_code,customer_contact_number)
VALUES('KLOIMA2555', 'gold-beige', 'suzuki', 'sedan-standard', 'mercedes-benz_e-class', '2010-2014', 'Lane Kingswood', 'Ryan Stokes', 'Bracken House Waterhouse ', 'Lane Kingswood', 'KT20 6LF', '+441737612524', '16e52f03-651a-49f2-8934-676eeef5590a', '706 GBP', 'Ryan Stokes', 'Bracken House Waterhouse ', 'Lane Kingswood', 'KT20 6LF', '+441737612524')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
====================== Error inserting record to database ======================
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "ix_vehicle_metadata_vehicle_registered_plate_number"
DETAIL:  Key (vehicle_registered_plate_number)=(CHIAN000) already exists.

[SQL: INSERT INTO public.vehicle_metadata(vehicle_registered_plate_number,vehicle_color,vehicle_make,vehicle_body_type,vehicle_make_model,vehicle_model_year,vehicle_registered_city,vehicle_owner_name,vehicle_owner_address,vehicle_owner_city,vehicle_owner_zip_code,vehicle_owner_contact_number,customer_id,customer_balance,customer_name,customer_address,customer_city,customer_zip_code,customer_contact_number)
VALUES('CHIAN000', 'black', 'toyota', 'sedan-wagon', 'toyota_land-cruiser', '2010-2014', 'London', 'David Jordan', '61 Erconwald Street', 'London', 'W12 0BP', '+44201525 0840', '0e349e45-2e03-4bdf-8d26-ca6aec3378a8', '737 GBP', 'David Jordan', '61 Erconwald Street', 'London', 'W12 0BP', '+44201525 0840')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
====================== Error inserting record to database ======================
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "ix_vehicle_metadata_vehicle_registered_plate_number"
DETAIL:  Key (vehicle_registered_plate_number)=(M666YOB) already exists.

[SQL: INSERT INTO public.vehicle_metadata(vehicle_registered_plate_number,vehicle_color,vehicle_make,vehicle_body_type,vehicle_make_model,vehicle_model_year,vehicle_registered_city,vehicle_owner_name,vehicle_owner_address,vehicle_owner_city,vehicle_owner_zip_code,vehicle_owner_contact_number,customer_id,customer_balance,customer_name,customer_address,customer_city,customer_zip_code,customer_contact_number)
VALUES('M666YOB', 'red', 'chrysler', 'tractor-trailer', 'chrysler_pt-cruiser', '2000-2004', 'London', 'Derrick Hancock', '3 The Marais', 'London', 'W4 3TH', '+44208122 4027', 'c1fb3334-f938-47bb-953b-627a74663fdb', '221 GBP', 'Derrick Hancock', '3 The Marais', 'London', 'W4 3TH', '+44208122 4027')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
====================== Error inserting record to database ======================
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "ix_vehicle_metadata_vehicle_registered_plate_number"
DETAIL:  Key (vehicle_registered_plate_number)=(TN11AV1553) already exists.

[SQL: INSERT INTO public.vehicle_metadata(vehicle_registered_plate_number,vehicle_color,vehicle_make,vehicle_body_type,vehicle_make_model,vehicle_model_year,vehicle_registered_city,vehicle_owner_name,vehicle_owner_address,vehicle_owner_city,vehicle_owner_zip_code,vehicle_owner_contact_number,customer_id,customer_balance,customer_name,customer_address,customer_city,customer_zip_code,customer_contact_number)
VALUES('TN11AV1553', 'blue', 'hyundai', 'sedan-wagon', 'hyundai_elantra', '2010-2014', 'Weybridge', 'Karen Soto', '173 Oatlands Drive', 'Weybridge', 'KT13 9JY', '+441932326036', '2a1f84c8-4a31-4775-94c3-9fbdb7f28768', '434 GBP', 'Karen Soto', '173 Oatlands Drive', 'Weybridge', 'KT13 9JY', '+441932326036')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
====================== Error inserting record to database ======================
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "ix_vehicle_metadata_vehicle_registered_plate_number"
DETAIL:  Key (vehicle_registered_plate_number)=(E4GLE) already exists.

[SQL: INSERT INTO public.vehicle_metadata(vehicle_registered_plate_number,vehicle_color,vehicle_make,vehicle_body_type,vehicle_make_model,vehicle_model_year,vehicle_registered_city,vehicle_owner_name,vehicle_owner_address,vehicle_owner_city,vehicle_owner_zip_code,vehicle_owner_contact_number,customer_id,customer_balance,customer_name,customer_address,customer_city,customer_zip_code,customer_contact_number)
VALUES('E4GLE', 'white', 'audi', 'sedan-sports', 'audi_tt', '2010-2014', 'Epsom', 'Melissa Wood', '1 Marneys Close', 'Epsom', 'KT18 7HR', '+441372673166', 'ef9c8aaf-0beb-4c59-9705-09983179ac00', '169 GBP', 'Melissa Wood', '1 Marneys Close', 'Epsom', 'KT18 7HR', '+441372673166')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
====================== Error inserting record to database ======================
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "ix_vehicle_metadata_vehicle_registered_plate_number"
DETAIL:  Key (vehicle_registered_plate_number)=(LR33TEE) already exists.

[SQL: INSERT INTO public.vehicle_metadata(vehicle_registered_plate_number,vehicle_color,vehicle_make,vehicle_body_type,vehicle_make_model,vehicle_model_year,vehicle_registered_city,vehicle_owner_name,vehicle_owner_address,vehicle_owner_city,vehicle_owner_zip_code,vehicle_owner_contact_number,customer_id,customer_balance,customer_name,customer_address,customer_city,customer_zip_code,customer_contact_number)
VALUES('LR33TEE', 'red', 'mini', 'sedan-compact', 'mini_cooper', '2005-2009', 'London', 'Jason Hardy', '12 Lancashire Court', 'London', 'W1S 1EY', '+44208006 4415', '59b87753-a062-4efd-8a41-f22f567ed20a', '142 GBP', 'Jason Hardy', '12 Lancashire Court', 'London', 'W1S 1EY', '+44208006 4415')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
====================== Error inserting record to database ======================
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "ix_vehicle_metadata_vehicle_registered_plate_number"
DETAIL:  Key (vehicle_registered_plate_number)=(DAN54P) already exists.

[SQL: INSERT INTO public.vehicle_metadata(vehicle_registered_plate_number,vehicle_color,vehicle_make,vehicle_body_type,vehicle_make_model,vehicle_model_year,vehicle_registered_city,vehicle_owner_name,vehicle_owner_address,vehicle_owner_city,vehicle_owner_zip_code,vehicle_owner_contact_number,customer_id,customer_balance,customer_name,customer_address,customer_city,customer_zip_code,customer_contact_number)
VALUES('DAN54P', 'blue', 'bmw', 'sedan-standard', 'bmw_3-series', '2010-2014', 'London', 'Kristi Cohen', '83 Iverna Court', 'London', 'W8 6TU', '+44202655 4050', '310e3c08-4900-4b40-a2a2-38741b7c2e0a', '233 GBP', 'Kristi Cohen', '83 Iverna Court', 'London', 'W8 6TU', '+44202655 4050')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
====================== Error inserting record to database ======================
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "ix_vehicle_metadata_vehicle_registered_plate_number"
DETAIL:  Key (vehicle_registered_plate_number)=(MH20EE7598) already exists.

[SQL: INSERT INTO public.vehicle_metadata(vehicle_registered_plate_number,vehicle_color,vehicle_make,vehicle_body_type,vehicle_make_model,vehicle_model_year,vehicle_registered_city,vehicle_owner_name,vehicle_owner_address,vehicle_owner_city,vehicle_owner_zip_code,vehicle_owner_contact_number,customer_id,customer_balance,customer_name,customer_address,customer_city,customer_zip_code,customer_contact_number)
VALUES('MH20EE7598', 'silver-gray', 'skoda', 'sedan-standard', 'skoda_rapid/spaceback', '2015-2019', 'Tadworth', 'Jenna Vargas', '6 Meare Close', 'Tadworth', 'KT20 5RZ', '+441737756408', '2d086976-f75d-4942-8b7b-d0aab0c50dac', '838 GBP', 'Jenna Vargas', '6 Meare Close', 'Tadworth', 'KT20 5RZ', '+441737756408')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
====================== Error inserting record to database ======================
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "ix_vehicle_metadata_vehicle_registered_plate_number"
DETAIL:  Key (vehicle_registered_plate_number)=(RX61GDU) already exists.

[SQL: INSERT INTO public.vehicle_metadata(vehicle_registered_plate_number,vehicle_color,vehicle_make,vehicle_body_type,vehicle_make_model,vehicle_model_year,vehicle_registered_city,vehicle_owner_name,vehicle_owner_address,vehicle_owner_city,vehicle_owner_zip_code,vehicle_owner_contact_number,customer_id,customer_balance,customer_name,customer_address,customer_city,customer_zip_code,customer_contact_number)
VALUES('RX61GDU', 'silver-gray', 'holden', 'tractor-trailer', 'cadillac_elr', '2010-2014', 'Weybridge', 'Melody Johnson', '3 Park Lawn Road', 'Weybridge', 'KT13 9EU', '+441932753428', 'cb336da4-9042-4626-b1b5-1cc5d7cfbe46', '903 GBP', 'Melody Johnson', '3 Park Lawn Road', 'Weybridge', 'KT13 9EU', '+441932753428')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
====================== Error inserting record to database ======================
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "ix_vehicle_metadata_vehicle_registered_plate_number"
DETAIL:  Key (vehicle_registered_plate_number)=(BPT00O1) already exists.

[SQL: INSERT INTO public.vehicle_metadata(vehicle_registered_plate_number,vehicle_color,vehicle_make,vehicle_body_type,vehicle_make_model,vehicle_model_year,vehicle_registered_city,vehicle_owner_name,vehicle_owner_address,vehicle_owner_city,vehicle_owner_zip_code,vehicle_owner_contact_number,customer_id,customer_balance,customer_name,customer_address,customer_city,customer_zip_code,customer_contact_number)
VALUES('BPT00O1', 'silver-gray', 'audi', 'sedan-sports', 'audi_r8', '2005-2009', 'London', 'Robert Wade', '341A Chiswick High Road', 'London', 'W4 4HS', '+44202537 2535', '7307c3ca-6915-4dde-b561-0f1dec4be276', '679 GBP', 'Robert Wade', '341A Chiswick High Road', 'London', 'W4 4HS', '+44202537 2535')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
====================== Error inserting record to database ======================
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "ix_vehicle_metadata_vehicle_registered_plate_number"
DETAIL:  Key (vehicle_registered_plate_number)=(G526JHD) already exists.

[SQL: INSERT INTO public.vehicle_metadata(vehicle_registered_plate_number,vehicle_color,vehicle_make,vehicle_body_type,vehicle_make_model,vehicle_model_year,vehicle_registered_city,vehicle_owner_name,vehicle_owner_address,vehicle_owner_city,vehicle_owner_zip_code,vehicle_owner_contact_number,customer_id,customer_balance,customer_name,customer_address,customer_city,customer_zip_code,customer_contact_number)
VALUES('G526JHD', 'silver-gray', 'audi', 'sedan-sports', 'audi_r8', '2005-2009', 'London', 'Robert Wade', '1 Phillimore Gardens', 'London', 'W8 7QB', '+44204865 6357', '7307c3ca-6915-4dde-b561-0f1dec4be276', '679 GBP', 'Robert Wade', '1 Phillimore Gardens', 'London', 'W8 7QB', '+44204865 6357')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
====================== Error inserting record to database ======================
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "ix_vehicle_metadata_vehicle_registered_plate_number"
DETAIL:  Key (vehicle_registered_plate_number)=(KL01CC50) already exists.

[SQL: INSERT INTO public.vehicle_metadata(vehicle_registered_plate_number,vehicle_color,vehicle_make,vehicle_body_type,vehicle_make_model,vehicle_model_year,vehicle_registered_city,vehicle_owner_name,vehicle_owner_address,vehicle_owner_city,vehicle_owner_zip_code,vehicle_owner_contact_number,customer_id,customer_balance,customer_name,customer_address,customer_city,customer_zip_code,customer_contact_number)
VALUES('KL01CC50', 'white', 'toyota', 'sedan-compact', 'mazda_cx', '2010-2014', 'London', 'Maria Moore', '95 Beechmount Avenue', 'London', 'W7 3AF', '+441895270541', '114c26f1-2766-41dc-8ff8-dc4010553038', '264 GBP', 'Maria Moore', '95 Beechmount Avenue', 'London', 'W7 3AF', '+441895270541')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
====================== Error inserting record to database ======================
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "ix_vehicle_metadata_vehicle_registered_plate_number"
DETAIL:  Key (vehicle_registered_plate_number)=(2662) already exists.

[SQL: INSERT INTO public.vehicle_metadata(vehicle_registered_plate_number,vehicle_color,vehicle_make,vehicle_body_type,vehicle_make_model,vehicle_model_year,vehicle_registered_city,vehicle_owner_name,vehicle_owner_address,vehicle_owner_city,vehicle_owner_zip_code,vehicle_owner_contact_number,customer_id,customer_balance,customer_name,customer_address,customer_city,customer_zip_code,customer_contact_number)
VALUES('2662', 'white', 'volkswagen', 'sedan-standard', 'volkswagen_vento', '2005-2009', 'London', 'Alexander Smith Jr.', '11 Queen Street', 'London', 'W1J 5PF', '+44207342 1031', '74391a22-e772-4c56-9096-5cac94f279ad', '426 GBP', 'Alexander Smith Jr.', '11 Queen Street', 'London', 'W1J 5PF', '+44207342 1031')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
====================== Error inserting record to database ======================
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "ix_vehicle_metadata_vehicle_registered_plate_number"
DETAIL:  Key (vehicle_registered_plate_number)=(G00GLE) already exists.

[SQL: INSERT INTO public.vehicle_metadata(vehicle_registered_plate_number,vehicle_color,vehicle_make,vehicle_body_type,vehicle_make_model,vehicle_model_year,vehicle_registered_city,vehicle_owner_name,vehicle_owner_address,vehicle_owner_city,vehicle_owner_zip_code,vehicle_owner_contact_number,customer_id,customer_balance,customer_name,customer_address,customer_city,customer_zip_code,customer_contact_number)
VALUES('G00GLE', 'black', 'bmw', 'sedan-standard', 'bmw_3-series', '2005-2009', 'Epsom', 'Andrew Blevins', '29A Worple Road', 'Epsom', 'KT18 5EP', '+441372305635', 'd3d64fe0-824b-4893-acfe-9969b2eaf189', '651 GBP', 'Andrew Blevins', '29A Worple Road', 'Epsom', 'KT18 5EP', '+441372305635')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
====================== Error inserting record to database ======================
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "ix_vehicle_metadata_vehicle_registered_plate_number"
DETAIL:  Key (vehicle_registered_plate_number)=(S7JDW) already exists.

[SQL: INSERT INTO public.vehicle_metadata(vehicle_registered_plate_number,vehicle_color,vehicle_make,vehicle_body_type,vehicle_make_model,vehicle_model_year,vehicle_registered_city,vehicle_owner_name,vehicle_owner_address,vehicle_owner_city,vehicle_owner_zip_code,vehicle_owner_contact_number,customer_id,customer_balance,customer_name,customer_address,customer_city,customer_zip_code,customer_contact_number)
VALUES('S7JDW', 'silver-gray', 'aston-martin', 'sedan-sports', 'mercedes-benz_amg-gt', '2015-2019', 'Hampton Wick', 'Nicholas Mack', '37 Park Road', 'Hampton Wick', 'KT1 4AS', '+441372043122', '58e84f08-ebee-43ca-adfb-ec39ed986f8e', '848 GBP', 'Nicholas Mack', '37 Park Road', 'Hampton Wick', 'KT1 4AS', '+441372043122')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
====================== Error inserting record to database ======================
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "ix_vehicle_metadata_vehicle_registered_plate_number"
DETAIL:  Key (vehicle_registered_plate_number)=(CRA1G) already exists.

[SQL: INSERT INTO public.vehicle_metadata(vehicle_registered_plate_number,vehicle_color,vehicle_make,vehicle_body_type,vehicle_make_model,vehicle_model_year,vehicle_registered_city,vehicle_owner_name,vehicle_owner_address,vehicle_owner_city,vehicle_owner_zip_code,vehicle_owner_contact_number,customer_id,customer_balance,customer_name,customer_address,customer_city,customer_zip_code,customer_contact_number)
VALUES('CRA1G', 'yellow', 'porsche', 'sedan-sports', 'porsche_boxster', '1995-1999', 'London', 'Dr. Alvin Parker', '12 Lancashire Court', 'London', 'W1S 1EY', '+44208006 4415', 'c7e41243-8452-42f5-add6-70336e56c3bb', '676 GBP', 'Dr. Alvin Parker', '12 Lancashire Court', 'London', 'W1S 1EY', '+44208006 4415')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)
====================== Error inserting record to database ======================
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "ix_vehicle_metadata_vehicle_registered_plate_number"
DETAIL:  Key (vehicle_registered_plate_number)=(HR26AZ5927) already exists.

[SQL: INSERT INTO public.vehicle_metadata(vehicle_registered_plate_number,vehicle_color,vehicle_make,vehicle_body_type,vehicle_make_model,vehicle_model_year,vehicle_registered_city,vehicle_owner_name,vehicle_owner_address,vehicle_owner_city,vehicle_owner_zip_code,vehicle_owner_contact_number,customer_id,customer_balance,customer_name,customer_address,customer_city,customer_zip_code,customer_contact_number)
VALUES('HR26AZ5927', 'blue', 'chevrolet', 'sedan-compact', 'chevrolet_spark', '2010-2014', 'London', 'Kimberly Vincent', 'Flat A 5 Dorset Street', 'London', 'W1U 6QJ', '+44200270 4478', '2e3fa2fd-0f35-4fe0-8357-8fed908daa8f', '120 GBP', 'Kimberly Vincent', 'Flat A 5 Dorset Street', 'London', 'W1U 6QJ', '+44200270 4478')]
(Background on this error at: http://sqlalche.me/e/14/gkpj)